div.cards-banner{
    width: 55%;
    height: 35vw;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    position: relative;
}


.cards-banner div.cards-up{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
    div.cards-up img{
        padding: 0 2%;
        width: 40%;
    }

.cards-banner div.cards-middle{
    padding-bottom: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;    
}

    div.cards-middle img{
        width: 90%;
        padding-right: 1%;
        backdrop-filter: blur(10px);
        transition: 1s;
    }

.cards-banner div.cards-down{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.right-card{
    width: 48%;
}
.left-card img , .right-card img{
    width: 100%;
}
/*  */
@media screen and (max-width: 660px) {
    div.cards-banner{
        width: 90%;
        height: 65vw;
    }
}