    a.buttonCta{
        background: linear-gradient(to bottom, #6A6CFF, #BD71FF);
        padding: 16px 32px;
        border-radius: 8px;
        transition: .5s;
        font-weight: 300;
        letter-spacing: 2px;
        text-decoration: none;
    }
    a.buttonCta:hover{
        background: rgba(47, 50, 253, 1);
        cursor: pointer;
        transition: .25s;
    }