nav.navBar{
    margin: 0 auto;
    padding: 0 2%;
    height: 60px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
}
    .navBar a{
        font-style: normal;
        font-size: 0.8rem;
        text-decoration: none;
        color:#fff;
        font-weight: 300;
    }
        .logo a{
            font-size: 1.5rem;
        }
        .navMenu a{
            padding: 0 10px;
        }
        .navMenu a.budgetButton{
            height: 100%;
            width: 100%;
            font-size: .8rem;
            padding: 10px 20px;
            border-radius: 30px;
            background: linear-gradient(to left,#211EC3 30%, #0C6EC9);
            transition: 1s;
        }
        .navMenu a.budgetButton:hover{
            padding: 12.5px 25px;
            opacity: 0.8;
        }