#Steps{
    margin: 15% auto;
    position: relative;
    z-index: 999;
}
#Steps div.container-steps{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
div.our-steps{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 50%;
}
    .our-steps div.wrapper-span span{
        color: #6A6CFF;
    }
    .our-steps div.wrapper-title h1{
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: left;
        margin: 0;
        width: 100%;
    }
    div.our-steps div.wrapper-text{
        max-width: 80%;
    }
        div.wrapper-text p{
            font-size: 1.2rem;        
            text-align: left;
            margin: 0;
            font-weight: 300;
            color: #828282;
        }
div.steps-numbering{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 45%;
}
div.steps-content{
    display: flex;
    gap: 8px;
}
    .steps-content div.numbers span{
        font-size: 2rem;
        font-weight: 500;
        background: linear-gradient(to right, #6A6CFF, #BD71FF);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .steps-content div.wrapper-texts h2{
        font-size: 2rem;
        font-weight: 400;
        color: #DBDCE0;
        text-align: left;
        margin: 0;
    }
    .steps-content div.wrapper-texts p{
        color: #828282;
        font-size: 1.2rem;
        font-weight: 400;
    }
@media screen and (max-width: 1024px) {
    div.container-steps{
        flex-direction: column;
        gap: 48px;
    }
    div.our-steps, .our-steps div.wrapper-title h1, .our-steps div.wrapper-text p{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    div.our-steps div.wrapper-text, div.our-steps div.wrapper-text p{
        width: 100%;
        max-width: 100%;
    }
    div.steps-content {
        flex-direction: column;
    }
    div.steps-numbering{
        width: 90%;
    }
}