#bgColorfulBubble{
    width: 80vw;
    overflow-x: hidden;
    height: 100%;
    top: 10%;
    filter: blur(89.16474914550781px);
    position: absolute;
    z-index:-1;
}
#bgColorfulBubble img{
    position: fixed;
    width: 80%;
    animation: bgcollor 20s linear infinite;
    stroke-width: 1px;
    stroke: #000;
  }
  @keyframes bgcollor {
    0% {
      transform: translate(0%, 0%) rotate(0deg) ;
    }
    50%{
    transform: translate(50%, 0%) rotate(-30deg);
    }
  }
  
section#Services #bgColorfulBubble{
    width: 80vw;
    top: 20%;
    height: 100%;
    right: 0;
    filter: blur(89.16474914550781px);
    position: absolute;
    z-index: -1;
    transform: rotateY(180deg);
}
section#Services #bgColorfulBubble img{
    position: fixed;
    left: 0;
    width: 80%;
    animation: bgcollor-services 20s linear infinite;
    stroke-width: 1px;
    stroke: #000;
    z-index: -1;
  }
  @keyframes bgcollor-services {
    0% {
      transform: translate(0%, 0%) rotate(0deg);
    }
    50%{
    transform: translate(100%, 0%) rotate(-30deg);
    }
  }
@media screen and (max-width: 500px) {

  section#Services #bgColorfulBubble img{
    width: 200%;
    height: 100%;
    transform: scale(1.5);
  }
  @keyframes bgcollor-services {
    0% {
      transform: translate(0%, 0%) rotate(0deg);
    }
    50%{
    transform: translate(10%, 0%) rotate(-30deg);
    }
  }
}
@media screen and (max-width: 768px) {
  #bgColorfulBubble, section#Services #bgColorfulBubble {
      width: 100vw;
      filter: blur(30px);
  }
  #bgColorfulBubble img, section#Services #bgColorfulBubble img{
    width: 100%;
    filter: blur(20px);
  }
}